body {
    background-color: #f8f9fa;
    background-image: url('/static/image/bg-img.png');
    background-repeat: no-repeat;
}

.card {
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

.card-header {
    background-color: #32665bfa;
    color: white;
}

.btn-primary {
    background-color: #32665B;
    border: none;
    padding: 10px 0;
    border-radius: 25px;
    margin-top: 25px;
}

.btn-primary:hover {
    background-color: #32665bfa;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* .card-body .form-group 
{
    position: relative;
}
.card-body .form-group img
{
    position: absolute;
    bottom: 8%;
    right: 2%;
    width: 5%;
} */

.eyepwd{
    position: relative; /* Ensures the eye icon is positioned relative to this container */
}

#eyeicon,#eyeicon2 {
    position: absolute;
    top: 52%; /* Align vertically in the middle of the input */
    right: 15px; /* Distance from the right edge of the input */
    transform: translateY(-50%); /* Vertically center the icon */
    width: 30px; /* Set the width of the eye icon */
    height: 30px; /* Set the height of the eye icon */
    cursor: pointer;
    z-index: 2; /* Ensures the icon is above the input */
}

input.pwdicon {
    padding-right: 45px; /* Adds padding to the right to make room for the eye icon */
}

#confirmPasswordError {
    display: block;
    margin-top: 5px;
}

