*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-sec{
    background-color: #f1fff0;
}
.login-sec .login-div{
    align-items: center;
    justify-content:center; 
    height: 100vh;
    width: 80%;
    margin: auto;
}
.login-sec .login-div .login-img{
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: #32665B;
   /* border-radius: 15px; */
   /* border-radius: 34% 10% 38% 10% / 36% 10% 23% 10% ; */
   border-radius: 34% 5% 38% 0% / 36% 1% 23% 6% ;
   overflow: hidden;
}
.login-sec .login-div .login-img img{
   height: 100%;
}
.login-sec .login-div .login-info{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.login-sec .login-info input
{
    border-radius: 25px;
    width: 75%;
    padding: 12px 0 12px 40px;
    border: none;
    border: 1px solid #c5c5c5;
    font-size: 18px;
}
.login-sec .login-info input:focus{
    outline: none;
}
/* {} */
.login-sec .login-info .input-field{
    margin: 25px 0; 
    position: relative;
}
.login-sec .login-info .input-field  i{
    font-size: 20px;
}
.login-sec .login-info .input-field span{
    position: absolute;
    top: 30%;
    left: 15%;
    padding-right: 10px;
}
.login-sec .login-info .input-field img{
    position: absolute;
    top: 22%;
    right: 13%;
    padding-right: 10px;
    cursor: pointer;
    width: 7%;
}

.login-sec .login-info h1{
    margin-bottom: 30px;
}
.login-sec .login-info .login-btn .btn{
    padding: 12px 0;
    border-radius: 25px;
    font-size: 18px;
    background-color: #32665B;
    color: white;
}
.login-sec .login-info .login-btn .btn:hover{
    background-color: #32665bfa;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.login-sec .login-info .reg-link{
    padding-top: 10px;
}
.login-sec .login-info .reg-link a{
    text-decoration: none;
    padding-left: 5px;
}
.login-sec .login-info .reg-link a:hover{
    text-decoration: underline;
}

@media(max-width: 992px)  {
 
    .login-sec .login-info input{
        width: 100%;
    }
    .login-sec .login-info .input-field span{
        left: 5%;
    }
    .login-sec .login-info .login-btn button{
        width: 100% !important;
    }
    .login-sec .login-div .login-img {
       justify-content: center;
    }

}

@media(max-width: 772px)  {
 
    .login-sec .login-div .login-img{
       display: none;
    }
    .login-sec .login-info .input-field span{
        left: 5%;
    }
}
